{% extends 'base.html' %}
{% block content %}
<div class="container" style="max-width:600px; margin:auto; padding:30px;">
    <h2 style="text-align:center;">Checkout</h2>
    <hr>

    {% if cart_items %}
    <form method="POST">
        {% csrf_token %}
        <label><strong>Name:</strong></label><br>
        <input type="text" name="name" class="form-control" required><br>

        <label><strong>Email:</strong></label><br>
        <input type="email" name="email" class="form-control" required><br>

        <label><strong>Phone:</strong></label><br>
        <input type="text" name="phone" class="form-control" required><br>

        <label><strong>Address:</strong></label><br>
        <textarea name="address" class="form-control" rows="3" required></textarea><br>

        <label><strong>Payment Method:</strong></label><br>
        <div>
            <input type="radio" name="payment_method" value="COD" checked> Cash on Delivery<br>
            <input type="radio" name="payment_method" value="Online"> Online Payment
        </div>
        <br>

        <h4>Total Amount: ₹{{ total }}</h4>
        <br>

        <button type="submit" class="btn btn-dark w-100">Place Order</button>
    </form>
    {% else %}
        <p>Your cart is empty 😢</p>
    {% endif %}
</div>
{% endblock %}
